*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

@media (min-width: 1280px) and (min-height: 720px) {
	html {
		font-size: 11px;
	}
}
@media (min-width: 1920px) and (min-height: 1080px) {
	html {
		font-size: 16px;
	}
}
@media (min-width: 2560px) and (min-height: 1440px) {
	html {
		font-size: 22px;
	}
}
@media (min-width: 3840px) and (min-height: 2160px) {
	html {
		font-size: 33px;
	}
}
