@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

#controls {
	font-family: Trebuchet MS;
	font-size: 3em;
	color: #FFF;
	position: absolute;
	bottom: 40;
	right: 40;
}

.controls {
	display: none;
}

.dialog {
	font-family: Trebuchet MS;
	background-color: #000000;
	color: #fff;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 112px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
  
  border-top: 5px solid #000000;
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
  border-bottom: 5px solid #000000;
}

.dialog.big {
	height: 200px;
}

.dialog .head {
	background-color: rgba(170, 0, 176, 0.9);
	text-align: center;
	height: 40px;
}

.dialog .head span:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dialog input[type="text"] {
	width: 100%;
  text-indent: 12px;
	height: 32px;
  outline: 0;
  border: 0;
  border-bottom: 10px solid #000000;
  transition: all 0.2s ease-in-out;
}

.dialog input[type="text"]:active, .dialog input[type="text"]:hover {
  color: black;
  background: #c4c4c4;
}

.dialog textarea {
	width: 100%;
	height: 128px;
}

.dialog button[name="submit"] {
	width: 49.6%;
	height: 32px;
  border: 1px solid #31af43;
  font-weight: 600;
  color: #31af43;
  border-radius: 3px;
  background: 0;
  outline: 0;
  transition: all 0.1s ease-in-out;
}

.dialog button {
  z-index: 9999;
	transform: translate(-0.0%, 20%);
}

.dialog button[name="cancel"] {
	width: 49.6%;
	height: 32px;
  border: 1px solid #af3131;
  font-weight: 600;
  color: #af3131;
  border-radius: 3px;
  outline: 0;
  background: 0;
  transition: all 0.1s ease-in-out;
}

.dialog button[name="cancel"]:hover {
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 2px;
}

.dialog button[name="submit"]:hover {
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 2px;
}

.head {
  margin-top: -12px;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #fff;
}

.head::before,
.head::after {
	content: "";
	flex-grow: 1;
	background: #fff;
	height: 2px;
	margin: 0px 3px;
}